h3{
    color: rgb(128, 128, 128);
    text-align: center;
    background-color: rgb(250, 222, 222, 1);
    height: 40px;
    margin: 0px;
    padding-top: 10px;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 0px;
    margin: 0px;
}
.card{
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    width: 100%;
    background-color: rgb(238, 238, 238);
    font-family: sans-serif;
}
.scard{
    display: flex;
    flex-direction: column;
    width: 32%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    border-radius: 0.5rem;
}
.txt{
    position: absolute;
    transform: translate(-56px,31px);
    font-size: 14px;
}
.vcard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28%;
}
