.paginationwrapper{
    background-color: #4fc3a1;
    color: white;
    height: 32px;
}
button{
    border: none;
    background: transparent;
    color: white;
    padding: 4px;
}
select{
    background: #4fc3a1;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    padding: 6px 6px;
}