.wrapper{
    margin: 20px 30px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
.panel{
    background-color: forestgreen;
}
.list{
    font-weight: bold;
    padding-top: 3px;
    text-align: left;
    color: rgb(179, 179, 179);
    margin : 0px;
}
.loader{
    margin-left: auto;
    margin-right: auto;
}
li:active{
    background: #4fc3a1;;
}